name: Build

# NOTE: GHA does not seem to like this. Disabled for now.
# on:
#   pull-request

jobs:
  build-linux:
    name: Debug Build for ${{ matrix.target }} (${{ matrix.freedom }})

    runs-on: >-
      ${{ contains(matrix.target, 'windows') && 'windows-latest' ||
          startsWith(matrix.target, 'android') && 'ubuntu-latest' ||
          matrix.target == 'linux' && 'ubuntu-latest' ||
          'ubuntu-latest' }}    
    
    strategy:
      matrix:
        target: [linux, androidaab, androidapk, windows,]
        freedom: [foss, freemium]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          path: app
          submodules: recursive
          fetch-depth: 1

      - name: Compile
        run: |
          sudo apt-get update
          sudo apt-get install --no-install-recommends \
            clang cmake git \
            ninja-build pkg-config \
            libgtk-3-dev liblzma-dev \
            libstdc++-12-dev
          mkdir package/
          ./tools/build.sh -t ${{ matrix.target }} -f ${{ matrix.freedom }} -b package/ -V
        working-directory: app